/* line 1, /Users/Xavier/Desktop/HomeworkHotline/app/assets/stylesheets/scaffolds.scss */
body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  margin: 33px;
}

/* line 10, /Users/Xavier/Desktop/HomeworkHotline/app/assets/stylesheets/scaffolds.scss */
p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  margin: 33px;
}

/* line 17, /Users/Xavier/Desktop/HomeworkHotline/app/assets/stylesheets/scaffolds.scss */
pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

/* line 23, /Users/Xavier/Desktop/HomeworkHotline/app/assets/stylesheets/scaffolds.scss */
a {
  color: #000;
}
/* line 26, /Users/Xavier/Desktop/HomeworkHotline/app/assets/stylesheets/scaffolds.scss */
a:visited {
  color: #666;
}
/* line 30, /Users/Xavier/Desktop/HomeworkHotline/app/assets/stylesheets/scaffolds.scss */
a:hover {
  color: #fff;
  background-color: #000;
}

/* line 36, /Users/Xavier/Desktop/HomeworkHotline/app/assets/stylesheets/scaffolds.scss */
th {
  padding-bottom: 5px;
}

/* line 40, /Users/Xavier/Desktop/HomeworkHotline/app/assets/stylesheets/scaffolds.scss */
td {
  padding-bottom: 7px;
  padding-left: 5px;
  padding-right: 5px;
}

/* line 47, /Users/Xavier/Desktop/HomeworkHotline/app/assets/stylesheets/scaffolds.scss */
div.field, div.actions {
  margin-bottom: 10px;
}

/* line 52, /Users/Xavier/Desktop/HomeworkHotline/app/assets/stylesheets/scaffolds.scss */
#notice {
  color: green;
}

/* line 56, /Users/Xavier/Desktop/HomeworkHotline/app/assets/stylesheets/scaffolds.scss */
.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

/* line 62, /Users/Xavier/Desktop/HomeworkHotline/app/assets/stylesheets/scaffolds.scss */
#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}
/* line 70, /Users/Xavier/Desktop/HomeworkHotline/app/assets/stylesheets/scaffolds.scss */
#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0;
  background-color: #c00;
  color: #fff;
}
/* line 81, /Users/Xavier/Desktop/HomeworkHotline/app/assets/stylesheets/scaffolds.scss */
#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

/* line 87, /Users/Xavier/Desktop/HomeworkHotline/app/assets/stylesheets/scaffolds.scss */
label {
  display: block;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *



 */

/* line 1, /Users/Xavier/.rvm/gems/ruby-2.3.0/gems/progressive_render-0.7.0/vendor/assets/stylesheets/progressive_render.scss */
#progressive-render-placeholder {
  height: 40px;
  width: 40px;
  background-image: url(data:image/gif;base64,R0lGODlhKAAoAPcWAP%2F%2F%2F%2Ff39%2B%2Fv7%2Bbm5t7e3tbW1szMzMXFxb29vbW1ta2traWlpZmZmZmZmYyMjISEhHNzc2ZmZlJSUkpKSkJCQjo6Ov8AADMzMwAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACH%2FC05FVFNDQVBFMi4wAwEAAAAh%2BQQFBwAWACwAAAAAKAAoAAAI%2BAABCBxIsKDBgwgTKlzIsKHDhxAjSpxIsaLFixgzOkyQQKPBAAUIPnhAMIBHAhAQDIwQYaAAAiY1PoBAQCBLgQEI1PSIAEIDgSMFDiAg4GJOgg4gFOUokMCAkhMJOHBwAOeCpwMDYAXwEubEA1MbxEw4lGjFAQscKFA4dMDYigKKepwb0YCCBg0UGGAooOwAuQ7t4tXL1y9gunQDvEUsFIGCqmSdLoZYQIECBJMLlj38cIDlkAINHNbqUmfmhaQHHsAMYABWp1AvEkCwF0AB0EM5X0SAQK6B2jl3ZhSAQPjv0qcnbrUNGidjocufS59Ovbr169izLwwIACH5BAUHABYALAgACAATABgAAAiiAC0IHEjQAgIEBRNaIEDQgQOCBgIUHODgwEAIEAYmiFAgocOLGS0UiBCy4AEHCwR%2BtOAgQoKBAwg2eGgQoYAID2QuMDBQwcQGEgcaaNDAp8KjFhI0QIhUYYCgTaMeLYBAgQIEHaVStYpVqtevYAUYQMDTK4GDBwB8PchQIAGoCgEIIFigrIC5UQcYyDogZlQDZRe2bWrAr2CpeAX2BSvwbsKAACH5BAUHABYALAgACAAXABcAAAinAC0IHEjQwoEDBRMqHNigAcECCxkaGOjAwUAEEAhEtLCgwQCBFQUSgPBgowUDDRIIbLgSAgKTFhQ4NIjQAgSLAwsEsDBAgQKIAhEIKLhgYAIIESZaKODz5cYADyJEUEkQgYKaCxtEcAAUZkEBQ716JXAAAYIDGsWKLHs2rdq3cOEWMOBW7QADBrqqFYD3o0C%2FcXkSABBYAAHAcAkQ2Bk3AIGwgRmLDQgAIfkEBQcAFgAsCAAIABgAEwAACJwALQgcSNCCAQMFEyYcQFCBAoIEFBZUUGBggwYDDzhgKFGgQ4sYBTpw0HFgAQUIPD60sMDBAYUABBBEoCCAQYQWHIQUGHEgAgQ9Lbyc6PMBhIo8fx4AUDInBAgpCQowgACnxAUQGgRtyrUr1wEFDhbgWDLBgwgRHiQAK5ZsR7No1XqdC4DpXIIBBhBwO1cAgb13Bwb4KzOwYMMDAwIAIfkEBQcAFgAsCAAIABgAEwAACJ4ALQgcSNBCgQIFExYEUBABAoUQLQhAQGCgAgUDDTSIONChAIEXBQ5osICjQAIIDAh0KDBBA5UmLRx4aBChhQYYFQowYGCAQAAwB04ceMCBg4oiedrk2MDogYQFDCCFqMDBAp8xs2o1KWAAAQIDPppE4AACBAcIun4NG5OsWbRb43IUIFbuwAYRHCyVG%2BBBhAgJ7A5MACFCUMEFAlgICAAh%2BQQFBwAWACwJAAgAFwAXAAAIrgAtCBxIkAABgggTWhBA8MABggMUEjQQUSACBAMLKJA40ICBgRcHKtjI0cIAAwUEOrSoIGXCAAQLfLRg0EIABRgHVgxgkKFAAjAbdlzQYKAAgxVLKmjQYKbAAAMIJFWIoEECiQAAlAwQtKTXryUPNHDgoMFDsAPFkjWLtq3btwsgNDj4VqADCBBygh3QICiCBxBcfhUQ4UFBtw4iXK1roUAECIwFJogguK6BrgIDAgAh%2BQQFBwAWACwNAAgAEwAYAAAInwAtCBw4YMDAgwgDHCxQACGAhAQEDDRgYCABBBIREiCg0AJFgQIQIEAIkoBBCwwFGkBAgKTAAQQeFhSI4IBLgiQNPESpQMHJmwcR9GwI9OABBSOLKl3K9KYBBQ0aKKi49GnUqU2zakWowMGCrQ0cOLCp9KvAA2JbkkyQQCAEBwd%2FInzwQGADCEmLRoggkACEukr3DkQAQS1QuguXslUaEAAh%2BQQFBwAWACwNAAgAEwAYAAAIpAAtCBwoQMDAgwgRDhhw0GBChAQIDBxg4CFEiQINVLQ4kaGFAgY8crRQMGOBhgBGBsBogQACBCMPAjjwkmVMAwgMOIzJs6dPgQUQKFCA4CTPoEOL%2FlzKVCCCBglE9lTQoMFGgQEaSLWgYKCBBQ0OPohg8KVAB2EfJojg4GxbCwscHHgIIYJRCBAEDnDw9mCBCAkG4h14wMHWAFct8D1o06LZkQEBACH5BAUHABYALAkACQAXABcAAAioAC0IHEiwoIUABhMqFEAAocKHBwkQgAhxAAEBFBUCIDAg48OOAgcYMIDRI8ECI0GaFEjAQIGVMGPKtEDgAAIEBybCrHkz58yFJRUGcFiwgIMIDSAeUICgYIIIER4QVYhAgYKXFgxEgJBg4IKCApoKLGC1YwCsAh1AEHjgwMEGCjIigJDUQoO6CRoYoPgAgk4HDgY2%2BPqQAASxFgAPNFD3IVq7jWW2pRgQACH5BAUHABYALAgADQAYABMAAAibAC0IHEiwoMEABhMqFECAAEKFEC0MaCggIsSJAx5aTAgAwMaPBBM8iBDhQYKNAwoYMFBggEiSJlGqZDkApM2bBgk0gLAgogEEBioSRAABggOLAA4gQEBgYAEIDxAMVGDwwEACSwk2HdjgqIWVAhVIHSjAY1UHPS0ooGoBgYICGx04qGmhQYOpbC86sCrQrtO8ELeGBUzXJtiIAQEAIfkEBQcAFgAsCAANABgAEwAACJsALQQoYKGgwYMIE1owEAFCAoUQEyaIEOFBgIgYLRRwEKFBxowCBHwcSbIgAgcQIDhA8FHAAAIEBgg4mXJly5cxRZbcydPgAgcKMBIwQBDhAQcOPGYsYMDAAIMEkB4wiECnQQMACg5oavWpQQUNLhYoimDqRwMNHlpAwHIhAgIfFyi1oCCohZltMTYw8NWuBQJVd7JFmLXk2IwBAQAh%2BQQJBwAWACwIAAkAFwAXAAAIqAAtCBQYwMDAgwgTDiwQIYHChwkhRCgAsaKFBBEcWERI4OCDCAI2CiwA4QECgg0GiBSIAAIEjSs5NoCwIKbNmysPNHDgoMGBmzp5%2BsRJtCgAAAoHJGhwEuIAAgMCHDTQoIGCjU8JhBTYYIFBgT8PBugoUAABAlITIrhq4axAAxQHpkVYQEHTA2ELGFBZUQFbCwiaWjDwFaKCuIAFDyj8kC%2FYsGVtuoUYEAA7);
}
