<h2><%= @user.firstname %> has worked <%= @total_hours %> hours, and has <%= @unpaid_hours %> unpaid hours.</h2>
<% @user.time_clocks.order('date ASC').each do |time| %>
	<%= link_to "#{time.date}", edit_time_clock_path(time) %><br>
<% end %>