<%= render 'form', time_clock: @time_clock %>
<script type="text/javascript">
$(document).ready(function() {
  setTimeout(function() {
    $('form').submit();
 }, 2000);
});
</script>
<div class="one">
	<div class="two">
		<div class="three"></div>
	</div>
</div>